{% extends 'base.html' %}
{% block title %} - Yangi yangilik qo'shish{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h2 class="mb-4">Yangi yangilik qo'shish</h2>

      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ news_form.as_p }}
        <input type="submit" class="btn btn-primary" value="Saqlash">
        <a href="{% url 'home' %}" class="btn btn-secondary ms-2">Bekor qilish</a>
      </form>
    </div>
  </div>
</div>
{% endblock content %}